/* responsive rules */
@media all and (max-width : 980px) {
	.menu{
		display:none;	
	}
    .menu   li {
		width:100%;
        float: left;
		margin-right:0;
		border-bottom:1px solid #333;
    }
	#menu_button{
		display:block;
		color:#fff;
		font-size:18px;
		margin:10px 15px 0 0;
		text-indent:15%;
		text-decoration:none;
	}
	.content_body{
		width:100%;
		padding-top:20px;
	}
	.leftsidebar{
		width:100%;
		float:none;
		margin-bottom:20px;
	}
	.rightsidebar{
		width:100%;
		float:none;
		margin-bottom:20px;
	}
	.footer_body{
		width:100%;
	}
}